/* ----------------------------------------------------------------------------
* Structure
* ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
    font-size: 62.5%;
    height:100%;
    min-height:100%;
}

body {
    font: 400 11px/1.4 sans-serif;
    color: $b;
    margin: 0;
    background: $c1;
    height:100%;
    min-height:100%;
    word-break: break-word;
    -webkit-word-break: break-word;
}


.aa_wrap {
	display: table;
	width: 100%;
	margin: 0 auto;
	padding: 5rem;

    h1 {
        font-size: 8vh;
        color: $w;
        text-align: center;
	}

    p {
        font-size: 3.5vh;
        line-height: 1.8;
    }

}
