/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
* Custom Website Fonts
* ------------------------------------------------------------------------- */

$aa_font--one: 'Montserrat', sans-serif;
$aa_font--two: 'Montserrat', sans-serif;
$aa_font--three: 'Bevan', 'Montserrat', sans-serif;

/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$c1 : #9733EE;
$c2 : #DA22FF;
$w : #ffffff;
$w7 : #f7f7f7;
$b : #000000;
$g : #35ad68;
$y : #FFFDD2;
